body {
 /*   background-color: #c2c2c2;
  background-image: url("https://i.pinimg.com/originals/60/ea/15/60ea152f0c16025e23573d9e10132d9b.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position:bottom; */
  /* background-size: cover;   */
  font-family: "Montserrat";
}
